@import 'reset.css';
@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --thub-color-blue: #4100FF;

  --thub-color-primary: var(--thub-color-blue);
  --thub-color-primary-75: color-mix(in srgb, var(--thub-color-primary) 75%, transparent);
}

#trifle-hub *:focus {
  @apply _outline-none;
}
#trifle-hub *:focus-visible {
  @apply _ring-2 _ring-offset-2 _ring-[var(--thub-color-primary-75)] _ring-offset-transparent;
}

/* Hide scrollbar for Chrome, Safari and Opera */
._no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
._no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

._bubble-btn {
  border-radius: 10px;
  border-image-source: url(../assets/imgs/bubblegum-recess.png);
  border-image-slice: 82 95 77 92 fill;
  border-image-width: 17px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  background-color: transparent;
  user-select: none;
  margin: -4px -8px -5px -8px;
}
._bubble-btn:active:not([disabled]) {
  border-image-width: 15px;
}
._bubble-btn:active:not([disabled]) > * {
  transform: scale(0.995);
  transform-origin: center;
}
@media (hover: hover) {
  ._bubble-btn:hover {
    border-image-width: 19px;
  }
}